{% include 'parts/head.html' %}
{% include 'parts/nav.html' %}

<body>
    <div id="upload-box">
        <h1>New Post</h1>
        <form action="/upload-post" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept="image/*" required><br><br>
            <textarea name="caption" placeholder="Write a caption..." rows="4" cols="50" required></textarea><br><br>
            <button type="submit">Upload Post</button>
        </form>
    </div>

    <div id="sign-out-container" hidden>
        <button id="sign-out">Sign Out</button>
    </div>

    <script type="module" src="/static/firebase-login.js"></script>
</body>

{% include 'parts/foot.html' %}