<nav class="navbar navbar-expand-lg bg-dark border-bottom border-bottom-dark sticky-top" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand fw-light" href="/">
            <span class="fas fa-camera me-1"></span>InstaShot</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                {% if not isAuthorized %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                {% endif %}

                {% if isAuthorized %}
                <li class="nav-item">
                    <a class="nav-link" href="/profile/{{ user.Username }}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="sign-out">Logout</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>